html {
    background-color: rgb(88, 81, 73);
}

#login{
    text-align: center;    
    margin-top: 1%;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 20px;
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

h1 {
    text-align: center;
    font-size: 10vw;
    text-transform: uppercase;
}


button{
    font-size: 1em;
    width: 50%;
    height: 40px;
    background-color: rgb(124, 225, 76);
    margin-top: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}